html {
  scroll-behavior: smooth;
}

body{
    background-color: #262E34;
    font-family: 'Josefin', Arial, sans-serif;
    color: white;
    margin: 0;
}

.hero_wrapper{
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.nav_wrapper{
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: #89BCD9;
    position: sticky;
    top: 0;
    z-index: 1000;
}

h1{
    font-size: 88px;
    font-family: 'Anta', Arial, sans-serif;
    font-weight: 400;
    margin: 36px 0 10px 0;
}

h2{
    font-size: 60px;
    font-family: 'Anta', Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 80px 0;
    color: #89BCD9;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 40px 112px 0 112px;
    margin-top: 63px;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    height: 745px;
}

.hero_text_area{
    margin: 68px 0 0 auto;
}

.hero_text_area p{
    font-size: 40px;
    margin: 0;
}

.image_background{
    position: relative;
    top: 70px;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transform: rotate(-45deg);
}

.social_media{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 16px;
    width: 30px;
}

.social_media_container{
    display: flex;
    flex-direction: row;
}

.logo_hero{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 1px;
    margin-left: 30px;
}

.logo_hero_icon{
    position: relative;
    height: 38px;
    min-width: 70px;
    display: flex;
    justify-content: center;
}

.logo_hero .name{
    font-size: 16px;
    margin: 4px 0 0 0;
    color: #F8F5EC;
}

.logo_hero p{
    font-size: 16px;
    margin: 0;
    color: #89BCD9;
}

.logo_default,
.logo_hover{
    position: absolute;
    transition: opacity 1s;
}

.logo_default{
    opacity: 1;
}

.logo_hover{
    position: absolute;
    opacity: 0;
}

.logo_hero_icon:hover .logo_default{
    opacity: 0;
}

.logo_hero_icon:hover .logo_hover{
    opacity: 1;
}

.title{
    width: 500px;
}

.title p{
    letter-spacing: 2px;
}

.hero_arrow_down{
    display: flex;
    justify-content: center;
    margin-top: 140px;
    width: 100%;
    height: 90px;
}

.hero_arrow_down a{
    cursor: pointer;
}

.arrow_swap{
    position: relative;
}

.button_default,
.button_hover{
    position: absolute;
    transition: opacity 0.3s;
}

.button_hover{
    position: absolute;
    opacity: 0;
}

.button_right{
    right: 0;
}

.arrow_swap:hover .button_default{
    opacity: 0;
}

.arrow_swap:hover .button_hover{
    opacity: 1;
}

.portfolio_img{
    width: 535px;
    position: relative;
    margin: 22px 0px 0 25px;
} 

.user_img{
    position: relative;
    top: -24px;
    left: 0;
    width: 100%;
    object-fit: cover;
}

.user_img img{
    width: 90%;
}

.image_background_default,
.image_background_hover{
    transition: opacity 0.5s;
    transform: rotate(-45deg);
    position: absolute;
    top: 30px;
    left: -40px;
    width: 594px;
}

.image_background_hover{
    opacity: 0;
}

.portfolio_img:hover .image_background_default{
    opacity: 0;
}
.portfolio_img:hover .image_background_hover{
    opacity: 1;
}

nav{
    display: flex;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    padding: 2px 0px;
}

.nav_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 110px;
}

.nav_logo p{
    color: #262E34;
}

.nav_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
}

.nav_logo a,
.nav_menu a{
    text-decoration: none;
}

.nav_menu a{
    color: #262E34;
    font-size: 26px;
    padding: 39px 0 34px 0;
    transition: background-color 0.5s, color 0.5s;
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav_menu a.active{
    color: #F8F5EC;
    background-image: url('./assets/icons/nav_menu_hover.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.nav_menu a:hover,
.project_menu p:hover{
    color: #F8F5EC;
}

.nav_language{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 16px;
    box-sizing: border-box;
    padding: 36px 110px;
}

.nav_language a{
    color: #262E34;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.nav_language a:hover{
    color: #F8F5EC;
}

.main_content_wrapper{
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.button_left{
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    width: 100%;
    height: 48px;

}

.why_me{
    padding: 104px 290px 0 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
}

.why_me_container{
    display: flex;
    flex-direction: row;
    gap: 52px;
    justify-content: space-between;
    min-width: 860px;
}

.why_me_container .about_me_text{
    width: 380px;
    min-width: 380px;
}

.why_me_container span{
    font-size: 18px;
    color: #F8F5EC;
}

.location_icon{
    position: relative;
    min-width: 75px;
}

.location_icon img{
    position: absolute;
    width: 100%;
    object-fit: cover;
}

.location_icon_ellipse{
    top: 40px;
    left: 25px;
}

.location_info{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.location_info p,
.location_info .cursor{
    font-size: 30px;
    margin: 20px 0 0 0;
}

.location_info .text_blue{
    font-weight: 700;
    font-size: 30px;
    color: #89BCD9;
}

.cursor{
    font-weight: 400;
    color: #89BCD9;
    margin-left: 2px;
    animation: blink 0.8s step-end infinite;
}
    
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.skills{
    padding: 104px 285px 0 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
}

.skills_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 80px;
}

.skills_item_container{
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    flex: 1;
    flex-wrap: wrap;
}

.skills_learning_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    height: 380px;
    width: 380px;
}
.skills_learning_container{
    position: relative;
}

.skills_learning_container p{
    margin: 81px 0 0 0;
    font-size: 18px;
}

.skills_background_hover,
.skills_background_default{
    position: absolute;
    transition: opacity 1s;
}

.skills_background_hover{
    opacity: 0;
}

.skills_learning_container:hover .skills_background_default{
    opacity: 0;
}
.skills_learning_container:hover .skills_background_hover{
    opacity: 1;
}

.skill_item{
    height: 100px;
}

.skills_learning_items{
    display: flex;
    flex-direction: row;
    gap: 28px;
    width: 100%;
    justify-content: center;
}

.new_skill_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 46px;
}

.new_skill_item img{
    width: 100%;
}

.new_skill_item p{
    font-size: 14px;
    margin: 4px 0 0 0;
}

.new_skill_text{
    width: 80%;
}

.new_skill_text p{
    font-size: 18px;
    margin: 0;
    color: #F8F5EC;
    text-align: center;
}

.project_menu p{
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    color: #89BCD9;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
    margin: 33px 0;
    height: 31px;
}

.project_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.projects{
    padding: 104px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
}

.projects menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 80px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0 0 0 104px;
}

.project_menu .active{
    color: #F8F5EC;
    background-color: #2D383F;
    padding: 33px 33px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin: 0;
}

.project_overview_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100vw;
    background-color: #2D383F;
}

.single_project_headline{
    display: flex;
    flex-direction: row;
}

@font-face {
    font-family: 'Josefin';
    src: url('./assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Anta';
    src: url('./assets/fonts/Anta/Anta-Regular.ttf') format('truetype');
}