html {
    scroll-behavior: smooth;
    scroll-padding-top: 104px;
}

section[id] {
    scroll-margin-top: 104px;
}

body{
    background-color: #262E34;
    font-family: 'Josefin', Arial, sans-serif;
    color: #F8F5EC;
    margin: 0;
}

.hero_wrapper{
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.nav_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #89BCD9;
    position: sticky;
    top: 0;
    z-index: 1000;
}

h1{
    font-size: 88px;
    font-family: 'Anta', Arial, sans-serif;
    font-weight: 400;
    margin: 36px 0 10px 0;
    text-wrap-mode: nowrap;
}

h2{
    font-size: 60px;
    font-family: 'Anta', Arial, sans-serif;
    font-weight: 400;
    margin: 0 auto 80px auto;
    padding: 0 22px;
    color: #89BCD9;
    text-wrap-mode: wrap;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 40px 30px 0 30px;
    margin: 0 auto;
    max-width: 1240px;
    width: 100%;
    height: 745px;
    box-sizing: border-box;
}

.hero_text_area{
    margin: 68px 0 0 auto;
    padding-left: 24px;
}

.hero_text_area p{
    font-size: 40px;
    margin: 0;
}

.image_background{
    position: relative;
    top: 70px;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transform: rotate(-45deg);
}

.social_media{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 16px;
    width: 30px;
}

.social_media a{
    position: relative;
    width: 30px;
    height: 30px;
}

.social_media_container{
    display: flex;
    flex-direction: row;
}

.social_media_default,
.social_media_hover{
    position: absolute;
    transition: opacity 0.3s;
    right: 0;
}

.social_media_default{
    opacity: 1;
}

.social_media_hover{
    position: absolute;
    opacity: 0;
}

.social_media a:hover .social_media_default{
    opacity: 0;
}

.social_media a:hover .social_media_hover{
    opacity: 1;
}

.logo_hero{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 1px;
}

.logo_hero_icon{
    position: relative;
    height: 38px;
    min-width: 70px;
    display: flex;
    justify-content: center;
}

.logo_hero .name{
    font-size: 16px;
    margin: 4px 0 0 0;
    color: #F8F5EC;
}

.logo_hero p{
    font-size: 16px;
    margin: 0;
    color: #89BCD9;
}

.logo_default,
.logo_hover{
    position: absolute;
    transition: opacity 1s;
}

.logo_default{
    opacity: 1;
}

.logo_hover{
    position: absolute;
    opacity: 0;
}

.logo_hero_icon:hover .logo_default{
    opacity: 0;
}

.logo_hero_icon:hover .logo_hover{
    opacity: 1;
}

.title{
    width: 100%;
}

.title p{
    letter-spacing: 2px;
    text-wrap-mode: nowrap;
}

.hero_arrow_down{
    display: flex;
    justify-content: center;
    margin-top: 140px;
    width: 100%;
    height: 90px;
}

.hero_arrow_down a{
    cursor: pointer;
}

.arrow_swap_vertical{
    position: relative;
    aspect-ratio: 1 / 2;
    justify-content: center;
    display: flex;
}

.arrow_swap_horizontal{
    position: relative;
    aspect-ratio: 3 / 1;
}

.button_default,
.button_hover,
.button_press,
.button_default_mobile{
    position: absolute;
    transition: opacity 0.3s;
}

.button_hover,
.button_press{
    position: absolute;
    opacity: 0;
}

.button_right{
    right: 0;
}

.arrow_swap_vertical:hover .button_default,
.arrow_swap_horizontal:hover .button_default,
.arrow_swap_vertical:active .button_default_mobile{
    opacity: 0;
}

.arrow_swap_vertical:hover .button_hover,
.arrow_swap_vertical:active .button_press,
.arrow_swap_horizontal:hover .button_hover{
    opacity: 1;
}

.portfolio_img_container{
    width: 100%;
    max-width: 535px;
    position: relative;
    margin: 22px 25px 0 25px;
}

.portfolio_img_container img,
.menu_container_impressum img{
    position: absolute;
    bottom: 0;
    left: 50%;
}

.user_img{
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, 0);
}


.image_background_default,
.image_background_hover{
    transition: opacity 0.5s;
    transform: translate(-50%, -15%) rotate(-45deg);
    height: 80%;
}

.image_background_hover{
    opacity: 0;
}

.portfolio_img_container:hover .image_background_default{
    opacity: 0;
}
.portfolio_img_container:hover .image_background_hover{
    opacity: 1;
}

nav{
    display: flex;
    align-items: center;
    max-width: 1240px;
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    margin: 0 auto;
    height: 104px;
}

.nav_logo p{
    color: #262E34;
}

.nav_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
}

.nav_logo a,
.nav_menu a{
    text-decoration: none;
}

.nav_menu a{
    min-width: 84px;
    min-height: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #262E34;
    font-size: 26px;
    transition: background-color 0.5s, color 0.5s;
    white-space: nowrap;
}

.nav_menu a.active{
    color: #F8F5EC;
    background-image: url('./assets/icons/nav_menu_hover.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.nav_language a.active{
    color: #F8F5EC;
    background-image: url('./assets/icons/language_menu_background.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.nav_menu a:hover,
.project_menu button:hover{
    color: #F8F5EC;
}

.nav_language{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.nav_language a{
    color: #262E34;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    padding: 8px 8px 4px 8px;
}

.nav_language a:hover{
    color: #F8F5EC;
}

.main_content_wrapper{
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.button_right_container{
    display: flex;
    justify-content: flex-end;
    height: 48px;
    max-width: calc(860px + 22px + 24px);
    width: 100%;
    margin: 24px auto 0 auto;
    padding: 0 22px 0 24px;
    box-sizing: border-box;
}

.why_me,
.skills,
.projects{
    margin: 104px auto 0 auto;
}

.why_me,
.skills,
.projects,
.reference{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}

.why_me_container{
    display: flex;
    flex-direction: row;
    gap: 52px;
    justify-content: space-between;
    max-width: calc(860px + 22px + 24px);
    width: 100%;
    margin: 0 auto;
    padding: 0 22px 0 24px;
    box-sizing: border-box;
}

.why_me_container .about_me_text{
    line-height: 1.2;
}

.why_me_container span{
    font-size: 18px;
    color: #F8F5EC;
}

.location_icon{
    position: relative;
    min-width: 75px;
}

.location_icon img{
    position: absolute;
    width: 100%;
    object-fit: cover;
}

.location_icon_ellipse{
    top: 40px;
    left: 25px;
}

.location_info{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    min-width: 430px;
    min-height: 110px;
}

#typing_text.typing_active::after {
    content: '|';
    color: #F8F5EC;
    animation: blink 0.8s step-end infinite;
    font-weight: 400;
    display: inline-block;
    vertical-align: bottom; 
}

.location_info .typing_active{
    font-size: 30px;
    margin: 20px 0 0 0;
    line-height: 1.2;
}

.location_info .text_blue{
    font-weight: 700;
    font-size: 30px;
    color: #89BCD9;
}
    
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.skills_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 80px;
    max-width: calc(860px + 2 * 23px);
    margin: 0 auto;
    padding: 0 23px;
    box-sizing: border-box;
}

.skills_item_container{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    flex: 1;
    flex-wrap: wrap;
}

.skills_info_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.skills_text_and_bubble_container{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.skills_text_and_bubble_container 
.new_skill_text_mobile{
    font-size: 16px;
    text-align: left;
    margin: 8px 0 0 0;
    line-height: 1.2;
    display: none;
}

.skills_info_headline_mobile{
    font-size: 16px;
    color: #89BCD9;
    display: none;
}

.bubble_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 380px;
    width: 380px;
    gap: 19px;
    position: relative;
}

.bubble_container p{
    margin: 81px 0 0 0;
    font-size: 18px;
}

.skills_background_mobile{
    display: none;
    transform: rotate(-50deg);
}

.skills_background_hover,
.skills_background_default, 
.skills_background_mobile,
.reference_background_hover,
.reference_background_default,
.reference_background_mobile{
    position: absolute;
    transition: opacity 1s;
    pointer-events: none;
    max-width: 100%;
}

.skills_background_hover,
.reference_background_hover{
    opacity: 0;
}

.bubble_container:hover .skills_background_default,
.text_bubble_container:hover .reference_background_default{
    opacity: 0;
}
.bubble_container:hover .skills_background_hover,
.text_bubble_container:hover .reference_background_hover{
    opacity: 1;
}

.skill_item{
    height: 100px;
    display: flex;
    justify-content: center;
}
.skills_item_mobile_container{
    display: none;
}

.skills_learning_items{
    display: flex;
    flex-direction: row;
    gap: 28px;
    width: 100%;
    justify-content: center;
}

.new_skill_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 46px;
}

.new_skill_item img{
    width: 100%;
}

.new_skill_item p{
    font-size: 14px;
    margin: 4px 0 0 0;
}

.new_skill_text{
    width: 77%;
}

.new_skill_text p,
.reference_text p{
    font-size: 18px;
    margin: 0;
    color: #F8F5EC;
    text-align: center;
    line-height: 120%;
}

.skill_link_container{
    display:none;
    justify-content: center;
    margin: 40px auto 0 auto;
}

.project_menu button{
    font-size: 30px;
    font-family: 'Josefin', Arial, sans-serif;
    font-weight: 500;
    line-height: 120%;
    color: #89BCD9;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
    padding: 33px;
    border-style: none;
    background-color: transparent;
}

.project_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.projects menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.project_menu .active{
    color: #F8F5EC;
    background-color: #2D383F;
    padding: 33px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.project_overview_wrapper{
    width: 100vw;
    background-color: #2D383F;
}

.project_overview{
    width: 100%;
    max-width: 1244px;
    margin: 31px auto 0 auto;
    padding: 0 22px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 56px;
}

.project_overview article{
    flex: 1;
}

.single_project_mobile_headline{
    display: none;
}

.single_project_headline{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.single_project_headline h3{
    margin: 0 0 0 21px;
    font-size: 28px;
    font-weight: 400;
    color: #F8F5EC;
}

.single_project_info{
    margin: 9px 0 23px 0px;
}

.single_project_info span{
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #F8F5EC;
    margin: 0 0 0 50px;
    line-height: 120%;
}

.single_project_details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single_project_details p{
    font-size: 18px;
    font-weight: 400;
    color: #F8F5EC;
    margin: 0 auto;
    margin-bottom: 12px;
}

.single_project_details p span{
    display: none;
}

.techstack_container{
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 16px;
}

.single_project_details .preview{
    height: 312px;
    object-fit: cover;
    border-radius: 30px;
    margin-bottom: 34px;
    aspect-ratio: 3/2;
}

.link_blue{
    font-size: 18px;
    font-weight: 400;
    padding: 13px 30px;
    background-color: #89BCD9;
    color: #2D383F;
    border-radius: 30px;
    text-decoration: none;
    align-items: center;
    display: inline-flex;
}

.link_blue:hover{
    background-color: #F8F5EC;
    color: #2D383F;
}

.link_transparent{
    font-size: 18px;
    font-weight: 400;
    padding: 13px 30px;
    background-color: transparent;
    color: #89BCD9;
    border-radius: 30px;
    border: 2px solid #89BCD9;
    text-decoration: none;
    align-items: center;
    display: inline-flex;
}

.link_transparent:hover{
    background-color: rgb(255 255 255 / 12%);
    color: #89BCD9;
}

.project_links{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 28px;
}

.project_links_mobile{
    display: none;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 28px;
}

.further_project{
    width: 450px;
    aspect-ratio: 3/2;
    background-color: #F8F5EC;
    border-radius: 30px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.further_project span{
    font-size: 30px;
    font-weight: 500;
    color: #89BCD9;
}

.project_duration_mobile{
    display: none;
}

.d-none{
    display: none;
}

.fade-in{
    animation: fadeIn 0.25s ease-in-out;
}

.fade-out{
    animation: fadeOut 0.25s ease-in-out;
}

.reference{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: calc(1200px);
    margin: 80px auto 0 auto;
}

.reference_container{
    padding: 0 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    justify-content: center;
}

.reference_headline{
    font-size: 32px;
    font-weight: 400;
    color: #89BCD9;
    margin: 0 auto 56px auto;
    padding: 0 22px;
}

.reference_name{
    font-size: 26px;
    font-weight: 600;
    color: #F8F5EC;
    margin: 0;
}

.reference_project{
    font-size: 18px;
    font-weight: 400;
    color: #F8F5EC;
    margin: 0 !important;
}

.reference_project span{
    color: #89BCD9;
}

.reference_background_mobile{
    display: none;
}

.text_bubble_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 19px;
    position: relative;
    aspect-ratio: 1 / 1;
    width: calc((1200px - 60px) / 3);
    min-height: 290px;
    padding: 0 54px;
    box-sizing: border-box;
}

.text_bubble_container a{
    color: #89BCD9;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.text_bubble_container .reference_contact_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: calc(910px);
    margin: 90px auto 180px auto;
    position: relative;
}

.contact_wrapper{
    padding: 0 23px;
    box-sizing: border-box;
}

.contact_arrow_up{
    display: flex;
    justify-content: center;
    height: 90px;
    position: absolute;
    right: -94px;
    top: 12px;
}

.contact_text{
    text-align: justify;
    line-height: 120%;
}

.contact_text p{
    text-align: justify;
    font-size: 18px;
    margin: 0;
    line-height: 120%;
}

.contact_request{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.contact_request p{
    font-size: 30px;
    font-family: Josefin, Arial, sans-serif;
    font-weight: 500;
    color: #89BCD9;
    margin: 0;
}

.contact_text,
.contact_info{
    width: 50%;
}

.contact_info a{
    color: #F8F5EC;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    margin-bottom: 16px;
}

.contact_info a span{
    padding-left: 44px;
}

.contact_info a:hover{
    color: #89BCD9;
}

.email_img_default,
.email_img_hover,.email_img_clicked,
.phone_img_default,.phone_img_hover,
.checkbox_default,.checkbox_hover,.checkbox_checked,.checkbox_error{
    left: 0;
    transition: opacity 0.3s;
    position: absolute;
    pointer-events: none;
}

.email_img_hover,.email_img_clicked, .phone_img_hover,
.checkbox_hover,.checkbox_checked{
    opacity: 0;
}

.active{
    opacity: 1;
}

.inactive{
    opacity: 0;
}

.contact_info a:hover .email_img_default,
.contact_info a:hover .phone_img_default,
.checkbox_container:hover .checkbox_default{
    opacity: 0;
}

.contact_info a:hover .email_img_hover,
.contact_info a:hover .phone_img_hover,
.checkbox_container:hover .checkbox_hover,
.checkbox_container:focus-within .checkbox_hover{
    opacity: 1;
}

.contact_info a:active .email_img_hover{
    opacity: 0;
}

.contact_info a:active .email_img_clicked{
    opacity: 1;
}

.contact_container{
    display: flex;
    flex-direction: row;
    gap: 36px;
    width: 100%;
    justify-content: center;
    margin-bottom: 51px;
}

.contact_field_name_email{
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.form_container{
    width: 100%;
    position: relative;
}

.form_container .input_container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form_container .input_field{
    position: relative;
    width: 100%;
}

.form_container .input_container label{
    font-size: 18px;
    color: #89BCD9;
    padding-left: 27px;
}

.form_container .input_container input,
.form_container .input_container textarea{
    background-color: transparent;
    border: 2px solid #89BCD9;
    border-radius: 30px;
    padding: 13px 58px 13px 27px;
    color:  #F8F5EC;
    font-size: 18px;
    font-family: 'Josefin';
    margin-bottom: 16px;
    box-sizing: border-box;
    width: 100%;
    min-height: 60px;
}

.form_container .input_container textarea{
    resize: vertical;
}

.form_container .input_container input:focus-visible,
.form_container .input_container textarea:focus-visible {
    background-color: rgb(255 255 255 / 12%);
    outline: none;
}

.input_valid_icon{
    position: absolute;
    top: 30px;
    right: 14px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.input_field .is_valid + .input_valid_icon{
    opacity: 1;
}

.form_container .input_container input::placeholder,
.form_container .input_container textarea::placeholder{
    opacity: 0;
}

.missing_inputs {
    border-color: #E44C36 !important;
}

.form_container .input_container input.missing_inputs::placeholder,
.form_container .input_container textarea.missing_inputs::placeholder{
    color: #E44C36 !important;
}

.missing_input_title {
    color:#E44C36 !important;
}

.full_width{
    width: 100%;
}

.checkbox_container{
    position: relative;
    width: 24px;
    min-width: 24px;
    height: 24px;
    cursor: pointer;
}

.checkbox_container input{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.accept_policy_container{
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 14px;
    position: relative;
    height: 80px;
}

.accept_policy_container a{
    color: #89BCD9;
    text-decoration: none;
    font-size: 16px;
}

/* .send_button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
} */

.accept_policy_container button{
    background-color: transparent;
    border: 2px solid #89BCD9;
    border-radius: 30px;
    padding: 13px 30px;
    color:  #89BCD9;
    font-size: 18px;
    font-family: 'Josefin';
    box-sizing: border-box;
    cursor: pointer;
    height: 48px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.accept_policy_container button:disabled{
    border-color: #8F9290 !important;
    color: #8F9290 !important;
    cursor: auto !important;
}

.send_mail_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
    background-color: #89BCD9;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    border-radius: 30px;
}

.send_mail_overlay.active{
    opacity: 1;
    pointer-events: auto;
}

.overlay_content{
    color: #262E34;
    font-size: 24px;
    text-align: center;
    padding: 0 20px;
    line-height: 1.2;
}

.error_policy{
    color: #E44C36;
    font-size: 14px;
    margin: 0 0 16px 0;
}

.policy_text_container{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 4px;
}

.arrow_swap_vertical .button_press.mobile,
.arrow_swap_vertical .button_default_mobile.mobile{
    display: none;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 80px auto 60px auto;
    max-width: 1240px;
}

.social_media.footer{
    flex-direction: row;
    width: auto;
}

.footer_container_left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_container_left a,
.footer_container_left span{
    color: #262E34;
    text-decoration: none;
    font-size: 18px;
}

.footer_container_left a:hover{
    color: #F8F5EC;
}

.footer_container_right{
    --width_nav_logo: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(50% + var(--width_nav_logo) / 2);
    justify-content: space-between;
}

.logo_hero.footer{
    margin: 0;
    width: 80px;
}

.logo_hero.footer p{
    font-size: 14px;
}

.burger_menu{
    z-index: 100;
    position: relative;
    bottom: 0;  
    aspect-ratio: 1/1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@font-face {
    font-family: 'Josefin';
    src: url('./assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Anta';
    src: url('./assets/fonts/Anta/Anta-Regular.ttf') format('truetype');
}