@media ( max-width: 1330px) {
    h1{
        font-size: clamp(3rem, -2.23rem + 9.3vw, 5.5rem);
    }

    h2{
        font-size: clamp(2rem, 0.86rem + 3.01vw, 3.75rem);
    }

    .title p{
        font-size: clamp(1.5rem, 0.86rem + 1.72vw, 2.5rem);
    }

    .hero{
        height: auto;
        padding: 16px clamp(39px, -223.8px + 29.2vw, 112px) 0 clamp(39px, -223.8px + 29.2vw, 112px);
        box-sizing: border-box;
    }

    .hero_arrow_down{
        margin-bottom: 24px;
    }

    .skills_item_mobile_container{
    --skill-size: 45px;
    --skill-gap: 40px;
    display: none;
    gap: var(--skill-gap);
    grid-template-columns: repeat(auto-fit, var(--skill-size));
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    max-width: 480px;
    width: 100%;

    container-type:  inline-size;

    @container (width <= calc(4 * 45px + 3 * 40px)) {
        .skill_item:last-child {
            grid-column-start: 2;
        }
    }
    
    @container (width > calc(4 * 45px + 3 * 40px)) and (width <= calc(5 * 45px + 4 * 40px)) {
        .skill_item:last-child {
            grid-column-start: 3;
        }
        .skill_item:nth-last-child(2) {
            grid-column-start: 2;
        }
    }

    @container (width >= calc(6 * 45px + 5 * 40px)) {
        .skill_item:last-child {
            grid-column-start: 5;
        }
        .skill_item:nth-last-child(4) {
            grid-column-start: 2;
        }
        .skill_item:nth-last-child(3) {
            grid-column-start: 3;
        }
        .skill_item:nth-last-child(2) {
            grid-column-start: 4;
        }
    }
    }

    .learning_skills_container{
        display: none;
        flex-direction: column;
    }
}

@media (max-width: 1150px){
    .reference_headline{
        font-family: 'Anta', Arial, sans-serif;
        display: flex;
        flex-direction: column;
    }

    .reference_headline span{
        font-size: 18px;
        margin-top: 8px;
        color: #F8F5EC;
        font-family: 'Josefin', Arial, sans-serif;
    }

    .hero_arrow_down{
        margin-top: clamp(24px, -393.6px + 46.4vw, 140px);
    }

    .hero_text_area{
        margin-top: clamp(16px, -171.2px + 20.8vw, 68px);
    }

    .user_img{
        height: 85%;
        transform: translate(-50%, -15%);
        clip-path: polygon(0 0%, 100% 0%, 100% 85%, 95% 90%, 90% 91%, 85% 94%, 80% 94%, 75% 96%, 70% 97.3%, 65% 98.3%, 60% 99%, 55% 99.5%, 50% 100%, 45% 100%, 40% 100%, 35% 99.7%, 30% 99.2%, 25% 98.5%, 20% 97.3%, 15% 96%, 10% 95%, 5% 95%, 0% 50%);
    }

    .image_background_default, 
    .image_background_hover {
        height: 80%;
        transform: translate(-50%, -16%) rotate(0deg);
    }

    .portfolio_img_container:hover .image_background_default{
        opacity: 1;
    }
    .portfolio_img_container:hover .image_background_hover{
        opacity: 0;
    }
    .nav_menu a{
        font-size: 22px;
    }

    .nav_logo,
    .nav_language{
        padding-left: 36px;
        padding-right: 36px;
    }

    .why_me{
        margin-top: clamp(64px, 1.77px + 8.89vw, 104px);
    }

    .why_me_container, 
    .skills_container{
        box-sizing: border-box;
    }

    .location_info .typing_active,
    .location_info .text_blue{
        font-size: 24px;
    }

    .skills_container{
        gap: 40px;
    }

    .skills_item_container{
        gap: 30px;
    }

}

@media (max-width: 700px){
    h1 {
        margin: 0 auto 16px auto;
    }

    .nav_wrapper nav{
        display: none;
    }

    .hero {
        flex-direction: column;
        padding: 27px 42px 0 27px;
    }

    .hero_text_area{
        margin: 8px 0 0 0;
        padding: 0;
    }

    .portfolio_img_container{
        aspect-ratio: 1/1;
    }

    .social_media_container{
        display: none;
    }

    .user_img{
        height: 100%;
        transform: translate(-50%, 0%);
    }

    .image_background_default, 
    .image_background_hover{
        height: 95%;
        transform: translate(-50%, 0%);
    }

    .header_mobile.d-none{
        display: flex;
        justify-content: space-between;
    }
    
    .logo_hero{
        flex: unset;
    }

    .burger_menu.is-active{
        opacity: 1;
    }
    
    .burger_menu img{
        transform: translate(-50%, 0%);
        height: 100%;
    }

    .burger_menu_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 36px;
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
    }

    .burger_menu_container a{
        font-size: 22px;
        color: #262E34;
        font-family: 'Josefin', Arial, sans-serif;
        text-decoration: none;
    }

    .nav_language{
        justify-content: center;
        gap: 0px;
        padding: 0;
    }

    .hero_arrow_down{
        margin-bottom: 0;
    }

    .why_me, .skills{
        /* padding: 0 22px 0 24px; */
        margin-top: 0;
    }

    .why_me h2{
        margin: 80px auto 32px auto;
    }

    .why_me_container{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;
        min-width: unset;
    }

    .why_me_container .about_me_text{
        width: 100%;
        font-size: 16px;
        min-width: unset;
        text-align: center;
    }

    .button_left{
        display: none;
    }

    .location_info{
        align-items: flex-start;
        min-height: 2rem;
        min-width: 380px;
    }

    .location_info .typing_active{
        display: block;
        line-height: 1.2;
        height: 2.4em; 
        overflow: hidden;
        font-size: 18px;
        margin: 12px 0 0 0;
    }

    .location_info .text_blue{
        font-size: 18px;
        line-height: 1.2;
    }

     .skills_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

     .skill{
        width: 100%;
    }

     .projects_container{
        flex-direction: column;
        justify-content: center;
        gap: 24px;
    }

     .project{
        width: 100%;
    }

    .location_icon{
        height: 40px;
        min-width: 50px;
    }

    .location_icon img{
        height: 100%;
        object-fit: contain;
    }

    .skills h2{
        margin: 80px auto 40px auto;
    }

    .skills_item_container{
        display: none;
    }

    .skills_item_mobile_container{
        display: grid;
        padding: 0 22px;
    }

    .skill_item{
        height: 45px;
    }

    .new_skill_text{
        display: none;
    }

    .skills_background_mobile{
        display: block;
    }

    .skills_background_default,
    .skills_background_hover,
    .skills_learning_text{
        display: none;
    }

    .skills_text_and_bubble_container 
    .new_skill_text_mobile{
        display: block;
        flex: 1;
    }

    .skills_info_headline_mobile{
        display: block;
    }

    .new_skill_item{
        width: 32px;
    }

    .bubble_container{
        height: 120px;
        width: 120px;
    }

    .skills_learning_items{
        position: absolute;
        top: 30px;
    }

    .skill_link_container{
        display: flex;
    }
}

@media (max-width: 440px){
    .why_me_container{
        align-items: flex-start;
    }

    .location_info {
        min-width: unset;
    }
}