@media ( max-width: 1330px) {
    h1{
        font-size: clamp(3rem, -2.23rem + 9.3vw, 5.5rem);
    }

    h2{
        font-size: clamp(2rem, 0.86rem + 3.01vw, 3.75rem);
    }

    .title p{
        font-size: clamp(1.5rem, 0.86rem + 1.72vw, 2.5rem);
    }

    .hero{
        height: auto;
        padding: 16px clamp(39px, -223.8px + 29.2vw, 112px) 0 clamp(39px, -223.8px + 29.2vw, 112px);
    }

    .hero_arrow_down{
        margin-bottom: 24px;
    }
}

@media (max-width: 1150px){
    .reference_headline{
        font-family: 'Anta', Arial, sans-serif;
        display: flex;
        flex-direction: column;
    }

    .reference_headline span{
        font-size: 18px;
        margin-top: 8px;
        color: #F8F5EC;
        font-family: 'Josefin', Arial, sans-serif;
    }

    .hero_arrow_down{
        margin-top: clamp(24px, -393.6px + 46.4vw, 140px);
    }

    .hero_text_area{
        margin-top: clamp(16px, -171.2px + 20.8vw, 68px);
    }

    .user_img{
        height: 85%;
        transform: translate(-50%, -15%);
        clip-path: polygon(0 0%, 100% 0%, 100% 85%, 95% 90%, 90% 91%, 85% 94%, 80% 94%, 75% 96%, 70% 97.3%, 65% 98.3%, 60% 99%, 55% 99.5%, 50% 100%, 45% 100%, 40% 100%, 35% 99.7%, 30% 99.2%, 25% 98.5%, 20% 97.3%, 15% 96%, 10% 95%, 5% 95%, 0% 50%);
    }

    .image_background_default, 
    .image_background_hover {
        height: 80%;
        transform: translate(-50%, -16%) rotate(0deg);
    }

    .portfolio_img_container:hover .image_background_default{
        opacity: 1;
    }
    .portfolio_img_container:hover .image_background_hover{
        opacity: 0;
    }
    .nav_menu a{
        font-size: 22px;
    }

    .nav_logo,
    .nav_language{
        padding-left: 36px;
        padding-right: 36px;
    }

}

@media (max-width: 700px){
    h1 {
        margin: 0 auto 16px auto;
    }

    .nav_wrapper nav{
        display: none;
    }

    .hero {
        flex-direction: column;
    }

    .hero_text_area{
        margin: 8px 0 0 0;
        padding: 0;
    }

    .portfolio_img_container{
        aspect-ratio: 1/1;
    }

    .social_media_container{
        display: none;
    }

    .user_img{
        height: 100%;
        transform: translate(-50%, 0%);
    }

    .image_background_default, 
    .image_background_hover{
        height: 95%;
        transform: translate(-50%, 0%);
    }

    .header_mobile.d-none{
        display: flex;
    }
    
}